<div class="row">
	<div class="span12">

<h3><%= @title -%></h3>
<% unless @hide_form %>
<%= form_for(@venue, :html => {:class => 'form-inline'}) do |f| %>
  <div class="input-append">
    <%= f.text_field :fsq_id, :placeholder => "Enter a foursquare id" %> <%= f.submit "Add venue", :class => 'btn' %>
  </div>
<% end %>
<% end %>


<table class="footable">
	<thead>
  <tr>
    <th data-class="expand">Name</th>
<!--     <th>Venuid</th> -->
    <th>Market value</th>
<!--     <th>Expected profit</th> -->
    <th data-hide="phone,tablet">Expected rent</th>
    <th data-hide="phone,tablet">Daily costs</th>
<!--     <th>Cat</th> -->
    <th data-hide="phone,tablet">Cat</th>
<!--     <th>Cat color</th>
    <th>Cat image</th> -->
<!--     <th data-hide="tablet"></th> -->
    <th></th>
   </tr>
</thead>
<tbody>
<% @venues.each do |venue| %>
  <tr id="tr<%= venue.id -%>">
    <td><%= link_to venue.name, venue %></td>
<!--     <td><%= venue.venuid %></td> -->
    <td><%= df venue.market_value %></td>
<!--     <td><%= df venue.expected_profit %></td> -->
    <td><%= df venue.expected_rent %></td>
    <td><%= df venue.daily_costs %></td>
<!--     <td><%= venue.cat_id %></td> -->
    <td><%= venue.cat_name %></td>
<!--     <td><%= venue.cat_color %></td>
    <td><%= venue.cat_image %></td> -->
    <!-- <td><%= link_to 'Show', venue %></td> -->
    <!-- <td><%= link_to 'Edit', edit_venue_path(venue) %></td> -->
<!--     <td><%= time_ago_in_words(venue.created_at) -%></td> -->
    <td>
    	<%= link_to raw("<i class='icon-th-large'></i>"), "https://fr.foursquare.com/v/#{venue.fsq_id}" %>
    	<% unless @hide_form %>
    	<%= link_to raw("<i class='icon-remove'></i>"), venue, method: :delete, :remote => true %>
    	<%= link_to raw("<i class='icon-shopping-cart'></i>"), buy_venue_path(venue), :method => :post %>
    	<% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

</div>
</div>