<div class="row">
	<div class="span12">

<h1>Listing venues</h1>

<%= form_for(@venue, :html => {:class => 'form-inline'}) do |f| %>
  <div class="input-append">
    <%= f.text_field :fsq_id, :placeholder => "Enter a foursquare id" %> <%= f.submit "Add venue", :class => 'btn' %>
  </div>
<% end %>


<table class="table table-striped table-condensed table-hover">
  <tr>
    <th>Name</th>
<!--     <th>Venuid</th> -->
    <th>Market value</th>
<!--     <th>Expected profit</th> -->
    <th>Expected rent</th>
    <th>Daily costs</th>
<!--     <th>Cat</th> -->
    <th>Cat</th>
    <th>User</th>
<!--     <th>Cat color</th>
    <th>Cat image</th> -->
    <th></th>
    <th></th>
   </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= link_to venue.name, venue %></td>
<!--     <td><%= venue.venuid %></td> -->
    <td><%= df venue.market_value %></td>
<!--     <td><%= df venue.expected_profit %></td> -->
    <td><%= df venue.expected_rent %></td>
    <td><%= df venue.daily_costs %></td>
<!--     <td><%= venue.cat_id %></td> -->
    <td><%= venue.cat_name %></td>
    <td><%= venue.user.nickname -%></td>
<!--     <td><%= venue.cat_color %></td>
    <td><%= venue.cat_image %></td> -->
    <!-- <td><%= link_to 'Show', venue %></td> -->
    <!-- <td><%= link_to 'Edit', edit_venue_path(venue) %></td> -->
    <td><%= time_ago_in_words(venue.created_at) -%></td>
    <td>
    	<%= link_to raw("<i class='icon-th-large'></i>"), "https://fr.foursquare.com/v/#{venue.fsq_id}" %>
    	<%= link_to raw("<i class='icon-remove'></i>"), venue, method: :delete, data: { confirm: 'Are you sure?' } %>
    	<% if is_jedi? %>
    	<%= link_to raw("<i class='icon-shopping-cart'></i>"), buy_venue_path(venue), :method => :post %>
    	<% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
</div>