<div class="row">
	<div class="span12">

<h1>Listing venues</h1>

<%= form_for(@venue) do |f| %>
  <div class="field">
    <%= f.text_field :fsq_id, :placeholder => "Enter a foursquare id" %> <%= f.submit "Add venue", :class => 'btn' %>
  </div>
<% end %>


<table class="table">
  <tr>
    <th>Name</th>
<!--     <th>Venuid</th> -->
    <th>Market value</th>
    <th>Expected profit</th>
    <th>Expected rent</th>
    <th>Daily costs</th>
<!--     <th>Cat</th> -->
    <th>Cat name</th>
<!--     <th>Cat color</th>
    <th>Cat image</th> -->
    <th>Foursquare</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
<!--     <td><%= venue.venuid %></td> -->
    <td><%= df venue.market_value %></td>
    <td><%= df venue.expected_profit %></td>
    <td><%= df venue.expected_rent %></td>
    <td><%= df venue.daily_costs %></td>
<!--     <td><%= venue.cat_id %></td> -->
    <td><%= venue.cat_name %></td>
<!--     <td><%= venue.cat_color %></td>
    <td><%= venue.cat_image %></td> -->
    <td><%= link_to venue.fsq_id, "https://fr.foursquare.com/v/#{venue.fsq_id}" %></td>
    <!-- <td><%= link_to 'Show', venue %></td> -->
    <!-- <td><%= link_to 'Edit', edit_venue_path(venue) %></td> -->
    <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>
</div>